@font-face {
    font-family: yaari;
    src: url(./Atelier\ du\ Soleil.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-image: url(./car\ image.jpg);
    background-size: cover;
    background-position:  center;
    text-align: center;
    position: fixed;
}

h1{
    color: azure;
    margin-top: 50px;
    font-family: yaari;
    font-weight: 19;
    font-size: 50px;
    text-transform: capitalize;
}


button{
    color: azure;
    margin-top: 30px;
    background-color: #FD6617;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 3%;
    border-radius: 5px;
    border: 2px solid black;
    text-transform: capitalize;
}

button:hover {
    background-color: darkorange;
    transform: scale(1.05);
}